* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.add-contact-btn {
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}
.add-contact-btn:hover {
    background-color: #b9e5d0;
}
.delete-btn {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}